body{
    padding:0px;
}


.form-header{
    width:1280px;
    height:143px;
    background:#3F0DA9;
    color:#FBE9A9;}


.cart-body{
    width:600px;
    height:1262px;
    margin-top:90px;
}



.email-box{
    height:173px;
}


.email-box1{
    height:64px;
    width:600px;
}

.delivary-address-box{
    height:476px;
}

.button1{
    width:300px;
    height:67px;
    background:#3722D3;
}
