.box{
    width:1622px;
}
.box2{
    width:1590px;
    height:540px;
}
.box3{
    height: 200px;
    margin-top: 70px;
}
.box4{
    width: 608px;
    color: var(--Logo---Light, #FBE9A9);

    font-family: Inika;
    font-size: 68px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.36px;
    text-transform: uppercase;
}
.box5{
    width: 384px;
    color: var(--Logo---Light, #FBE9A9);
    font-family: Inika;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.box6{
    width: 65px; 
}
.box7{
    width: 629px;
    height: 236px;
}
.box_image{
    width: 200px;
    height: 100px; 
}
.image1{
    background-color:#3722D3; 
    width: 1580px;
    height:402px; 
}
.image2{
    width: 473px;
    height: 510px;
}